version: '3'

services:
  ampache:
    image: ampache/ampache
    container_name: ampache
    restart: unless-stopped
    ports:
      - 80:80
    volumes:
      - ./data/music:/media
      - ./data/mysql:/var/lib/mysql
      - ./conf:/var/www/config
      #- ./data/log:/var/log/ampache